# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import numpy as np
#from sql_queries import *
from datetime import datetime

In [2]:
#cur.execute("DROP DATABASE IF EXISTS sparkifydb")
#cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")
#conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
#cur = conn.cursor()

 # connect to default database
conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
conn.set_session(autocommit=True)
cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
cur.execute("DROP DATABASE IF EXISTS sparkifydb")
cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")

    # close connection to default database
conn.close()    
    
    # connect to sparkify database
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data/A')

In [5]:
filepath = song_files[0]

In [6]:
#Read JSON file through PANDAS function read_json
data = pd.read_json(filepath,lines=True)
print(data)

            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
#Convert data to a Data Frame for easy execution & print values
df = pd.DataFrame(data)
print(df)

            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
#For test purposes only, CREATE table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS songs2(songplay_id varchar, title varchar, artist_id varchar, year int, duration float)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert dataframe data using function ITERTUPLES() in a for loop
try:
     for row in df.itertuples():
         cur.execute("INSERT INTO songs2(songplay_id, title, artist_id, year, duration)\
                      VALUES (%s,%s,%s,%s,%s)",\
                      (row.song_id,
                       row.title,
                       row.artist_id,
                       row.year,
                       row.duration)
                   ) 

except psycopg2.Error as e: 
    print("Error: INsert error")
    print (e)


conn.commit()

#Check if values have been correctly inserted & print them out
cur.execute("SELECT * FROM songs2;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179)

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
#For test purposes only, CREATE table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artists(artist_id varchar,name text, location varchar,latitude float, longitude float)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert dataframe data using function ITERTUPLES() in a for loop
try:
     for row in df.itertuples():
         cur.execute("INSERT INTO artists(artist_id,name,location,latitude,longitude)\
                      VALUES (%s,%s,%s,%s,%s)",\
                      (row.artist_id,
                       row.artist_name,
                       row.artist_location,
                       row.artist_latitude,
                       row.artist_longitude)
                   ) 

except psycopg2.Error as e: 
    print("Error: INsert error")
    print (e)


conn.commit()

#Check if values have been correctly inserted & print them out
cur.execute("SELECT * FROM artists;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [10]:
#Get all the files from the log folder
log_files = get_files('data/log_data/2018/11')

In [11]:
#Pick up the first file in the log folder
filepath = log_files[0]

In [30]:
#Using PANDA functions, read through the contents of the first file and display that
df_log = pd.read_json(filepath, lines=True)
df_log.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [33]:
#Filter records by NextSong action & store it in a variable df_filter
df_filter = df_log[(df_log['page'] == 'NextSong')]

In [34]:
#Convert data in ts column to date and time. Create another column timestamp and add that to the dataframe.    
df_filter['timestamp'] = (pd.to_datetime(df_filter['ts'], unit='ms')
                              .dt.tz_localize(None))
#converted_df = pd.to_datetime(df_filter['ts'], unit='ms')
#df_filter['timestamp'] = converted_df
#print(converted_df)
print(df_filter)

                                                artist       auth firstName  \
0                                        Stephen Lynch  Logged In    Jayden
1                                              Manowar  Logged In     Jacob
2                                            Morcheeba  Logged In     Jacob
3                                             Maroon 5  Logged In     Jacob
4                                                Train  Logged In     Jacob
5                                                LMFAO  Logged In     Jacob
6                                             DJ Dizzy  Logged In     Jacob
7                              Fish Go Deep & Tracey K  Logged In     Jacob
9                                                  M83  Logged In     Jacob
10                                              Saybia  Logged In     Jacob
11                                       Local Natives  Logged In     Jacob
12                                          South Park  Logged In     Jacob
13                              UNKLE Feat. Josh Homme  Logged In     Jacob
14                                 Justyna Steczkowska  Logged In     Jacob
15                                         Evanescence  Logged In     Jacob
16                                            Coldplay  Logged In     Jacob
17                                            Hot Chip  Logged In     Jacob
18                                      Ellie Goulding  Logged In     Jacob
19                                      Postal Service  Logged In     Jacob
23                                        Jack Johnson  Logged In     Aiden
24                                       Iron And Wine  Logged In     Aiden
25                                              The xx  Logged In     Aiden
26                                         The Antlers  Logged In     Aiden
27                                          Fattburger  Logged In     Aiden
30                                         Chris Brown  Logged In     Layla
31                                             Phoenix  Logged In     Layla
33   Jim Lauderdale/Ralph Stanley & The Clinch Moun...  Logged In     Layla
35                                               Musiq  Logged In     Layla
36                      Cass McCombs feat. Karen Black  Logged In     Layla
38                                     Scissor Sisters  Logged In     Layla
..                                                 ...        ...       ...
356                                            Rihanna  Logged In     Rylan
357                                        Evanescence  Logged In     Rylan
358                                          Mr. Vegas  Logged In     Chloe
359                                     Mischa Daniels  Logged In     Rylan
360                                     The Menzingers  Logged In     Chloe
361                                  Justin Timberlake  Logged In     Chloe
362                             Vilma Palma e Vampiros  Logged In     Rylan
363                           CCCP - Fedeli Alla Linea  Logged In     Chloe
364                          Kid Cudi / MGMT / Ratatat  Logged In     Rylan
365            Drake / Kanye West / Lil Wayne / Eminem  Logged In     Chloe
366                                  A Day To Remember  Logged In     Rylan
367                                               T.I.  Logged In    Jayden
368                                      The Offspring  Logged In     Rylan
369                                     Jorge Gonzalez  Logged In     Chloe
370                                      Sneaker Pimps  Logged In    Jayden
371                                    Escape The Fate  Logged In     Rylan
372                                             Juanes  Logged In     Chloe
373                                   The Replacements  Logged In     Rylan
374                                    Sarah McLachlan  Logged In     Chloe
375                               Sonny Boy Williamson  Logged In     Rylan
376               Soul II Soul Featuring Caron Wheeler  Logged In     Rylan
377                             Florence + The Machine  Logged In     Chloe
378                                            Pantera  Logged In     Rylan
380                                               Cold  Logged In     Chloe
381                                            Norther  Logged In     Chloe
382                                       Foo Fighters  Logged In     Rylan
383                                         Timbiriche  Logged In     Rylan
384                                   A Perfect Circle  Logged In     Rylan
385                                           Anberlin  Logged In     Rylan
387                                          Deas Vail  Logged In    Elijah

    gender  itemInSession lastName     length level  \
0        M              0     Bell  182.85669  free
1        M              0    Klein  247.56200  paid
2        M              1    Klein  257.41016  paid
3        M              2    Klein  231.23546  paid
4        M              3    Klein  216.76363  paid
5        M              4    Klein  227.99628  paid
6        M              5    Klein  221.15220  paid
7        M              6    Klein  377.41669  paid
9        M              7    Klein   96.18240  paid
10       M              8    Klein  257.25342  paid
11       M              9    Klein  266.05669  paid
12       M             10    Klein  112.97914  paid
13       M             11    Klein  307.19955  paid
14       M             12    Klein  333.53098  paid
15       M             13    Klein  256.91383  paid
16       M             14    Klein  297.35138  paid
17       M             15    Klein  333.50485  paid
18       M             16    Klein  205.06077  paid
19       M             17    Klein  307.53914  paid
23       M              1     Hess  240.06485  free
24       M              2     Hess  153.05098  free
25       M              3     Hess  158.24934  free
26       M              4     Hess  328.88118  free
27       M              5     Hess  217.20771  free
30       F              2  Griffin  203.80689  paid
31       F              3  Griffin  278.07302  paid
33       F              5  Griffin  127.05914  paid
35       F              7  Griffin  297.84771  paid
36       F              8  Griffin  322.06322  paid
38       F             10  Griffin  352.52200  paid
..     ...            ...      ...        ...   ...
356      M             44   George  239.75138  paid
357      M             45   George  220.34240  paid
358      F             12   Cuevas  240.69179  paid
359      M             46   George  419.81342  paid
360      F             13   Cuevas  276.00934  paid
361      F             14   Cuevas  288.93995  paid
362      M             47   George  338.18077  paid
363      F             15   Cuevas  329.66485  paid
364      M             48   George  295.67955  paid
365      F             16   Cuevas  357.66812  paid
366      M             49   George  247.64036  paid
367      M              0     Bell  299.75465  free
368      M             50   George  163.31710  paid
369      F             17   Cuevas  272.14322  paid
370      M              1     Bell  260.91057  free
371      M             51   George  266.73587  paid
372      F             18   Cuevas  243.27791  paid
373      M             52   George  170.57914  paid
374      F             19   Cuevas  278.90893  paid
375      M             53   George  152.24118  paid
376      M             54   George  225.22730  paid
377      F             20   Cuevas  219.66322  paid
378      M             55   George  286.69342  paid
380      F             21   Cuevas  177.76281  paid
381      F             22   Cuevas  246.54322  paid
382      M             57   George  271.38567  paid
383      M             58   George  202.60526  paid
384      M             59   George  206.05342  paid
385      M             60   George  348.68200  paid
387      M              0    Davis  237.68771  free

                                location method      page  registration  \
0        Dallas-Fort Worth-Arlington, TX    PUT  NextSong  1.540992e+12
1    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
2    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
3    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
4    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
5    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
6    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
7    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
9    Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
10   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
11   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
12   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
13   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
14   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
15   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
16   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
17   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
18   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
19   Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong  1.540558e+12
23             La Crosse-Onalaska, WI-MN    PUT  NextSong  1.540829e+12
24             La Crosse-Onalaska, WI-MN    PUT  NextSong  1.540829e+12
25             La Crosse-Onalaska, WI-MN    PUT  NextSong  1.540829e+12
26             La Crosse-Onalaska, WI-MN    PUT  NextSong  1.540829e+12
27             La Crosse-Onalaska, WI-MN    PUT  NextSong  1.540829e+12
30          Lake Havasu City-Kingman, AZ    PUT  NextSong  1.541057e+12
31          Lake Havasu City-Kingman, AZ    PUT  NextSong  1.541057e+12
33          Lake Havasu City-Kingman, AZ    PUT  NextSong  1.541057e+12
35          Lake Havasu City-Kingman, AZ    PUT  NextSong  1.541057e+12
36          Lake Havasu City-Kingman, AZ    PUT  NextSong  1.541057e+12
38          Lake Havasu City-Kingman, AZ    PUT  NextSong  1.541057e+12
..                                   ...    ...       ...           ...
356                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
357                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
358    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
359                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
360    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
361    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
362                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
363    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
364                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
365    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
366                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
367      Dallas-Fort Worth-Arlington, TX    PUT  NextSong  1.540992e+12
368                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
369    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
370      Dallas-Fort Worth-Arlington, TX    PUT  NextSong  1.540992e+12
371                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
372    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
373                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
374    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
375                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
376                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
377    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
378                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
380    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
381    San Francisco-Oakland-Hayward, CA    PUT  NextSong  1.540941e+12
382                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
383                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
384                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
385                Birmingham-Hoover, AL    PUT  NextSong  1.541020e+12
387          Detroit-Warren-Dearborn, MI    PUT  NextSong  1.540772e+12

     sessionId                                               song  status  \
0          829                                  Jim Henson's Dead     200
1         1049                                        Shell Shock     200
2         1049               Women Lose Weight (Feat: Slick Rick)     200
3         1049                          Won't Go Home Without You     200
4         1049                                   Hey_ Soul Sister     200
5         1049                                 I'm In Miami Bitch     200
6         1049                                         Sexy Bitch     200
7         1049         The Cure & The Cause (Dennis Ferrer Remix)     200
9         1049                                      Staring At Me     200
10        1049                               The Second You Sleep     200
11        1049                                          Wide Eyes     200
12        1049                La Resistance (Medley) (LP Version)     200
13        1049                                           Restless     200
14        1049                                             Noc...     200
15        1049                                           Like You     200
16        1049                     God Put A Smile Upon Your Face     200
17        1049                                            Playboy     200
18        1049                                  Every Time You Go     200
19        1049                             Natural Anthem (Album)     200
23         986                                             Taylor     200
24         986                                    Naked As We Can     200
25         986                                            Fantasy     200
26         986                                           Epilogue     200
27         986                                           Groovin'     200
30        1051                   Ain't No Way (You Won't Love Me)     200
31        1051                                               Rome     200
33        1051                            Highway Through My Home     200
35        1051                                                143     200
36        1051                              Dreams-Come-True-Girl     200
38        1051                          I Don't Feel Like Dancin'     200
..         ...                                                ...     ...
356       1076                                                G4L     200
357       1076                                              Hello     200
358       1114                                             Tamale     200
359       1076                                      Another Place     200
360       1114                                   Straight To Hell     200
361       1114                                     Cry Me A River     200
362       1076                                Un Camino Hasta Vos     200
363       1114                       Sura (2008 Digital Remaster)     200
364       1076                   Pursuit Of Happiness (nightmare)     200
365       1114                                            Forever     200
366       1076                                Homesick [Acoustic]     200
367       1085  Dead And Gone [feat. Justin Timberlake] (Expli...     200
368       1076               It'll Be a Long Time (Album Version)     200
369       1114                      Esta Es Para Hacerte FÃÂ©liz     200
370       1085                                    Spin Spin Sugar     200
371       1076               This War Is Ours (The Guillotine II)     200
372       1114                               La Vida Es Un Ratico     200
373       1076                                         Never Mind     200
374       1114                                         Possession     200
375       1076                             Don't Start Me Talkin'     200
376       1076  Back To Life (However Do You Want Me) (2003 Di...     200
377       1114                     Dog Days Are Over (Radio Edit)     200
378       1076                               Heresy  (LP Version)     200
380       1114                                             Remedy     200
381       1114                                       Frozen Angel     200
382       1076                                      The Pretender     200
383       1076                                    Besos De Ceniza     200
384       1076                                               Rose     200
385       1076                                       The Haunting     200
387        985              Anything You Say (Unreleased Version)     200

                ts                                          userAgent userId  \
0    1543537327796  Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...     91
1    1543540121796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
2    1543540368796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
3    1543540625796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
4    1543540856796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
5    1543541072796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
6    1543541299796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
7    1543541520796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
9    1543541897796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
10   1543541993796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
11   1543542250796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
12   1543542516796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
13   1543542628796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
14   1543542935796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
15   1543543268796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
16   1543543524796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
17   1543543821796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
18   1543544154796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
19   1543544359796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
23   1543547190796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
24   1543547430796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
25   1543547583796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
26   1543547741796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
27   1543548069796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
30   1543548563796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
31   1543548766796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
33   1543549044796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
35   1543549171796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
36   1543549468796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
38   1543549790796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
..             ...                                                ...    ...
356  1543600185796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
357  1543600424796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
358  1543600483796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
359  1543600644796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
360  1543600723796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
361  1543600999796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
time_data = ()
column_labels = ()

In [ ]:
time_df = 
time_df.head()

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [ ]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [ ]:
user_df =

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [ ]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [ ]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = ()
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.