# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [51]:
import os
import glob
import psycopg2
import pandas as pd
import numpy as np
from sql_queries import *
from datetime import datetime

In [54]:
#cur.execute("DROP DATABASE IF EXISTS sparkifydb")
#cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")
#conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
#cur = conn.cursor()

 # connect to default database
conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
conn.set_session(autocommit=True)
cur = conn.cursor()
    
    # create sparkify database with UTF8 encoding
cur.execute("DROP DATABASE IF EXISTS sparkifydb1")
cur.execute("CREATE DATABASE sparkifydb1 WITH ENCODING 'utf8' TEMPLATE template0")

    # close connection to default database
conn.close()    
    
    # connect to sparkify database
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb1 user=student password=student")
cur = conn.cursor()

In [55]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [56]:
song_files = get_files('data/song_data/A')

In [57]:
filepath = song_files[0]

In [58]:
#Read JSON file through PANDAS function read_json
data = pd.read_json(filepath,lines=True)
print(data)

            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [59]:
#Convert data to a Data Frame for easy execution & print values
df = pd.DataFrame(data)
print(df)

            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [60]:
#For test purposes only, CREATE table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS songs3(songplay_id varchar, title varchar, artist_id varchar, year int, duration float)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert dataframe data using function ITERTUPLES() in a for loop
try:
     for row in df.itertuples():
         cur.execute("INSERT INTO songs3(songplay_id, title, artist_id, year, duration)\
                      VALUES (%s,%s,%s,%s,%s)",\
                      (row.song_id,
                       row.title,
                       row.artist_id,
                       row.year,
                       row.duration)
                   ) 

except psycopg2.Error as e: 
    print("Error: INsert error")
    print (e)


conn.commit()

#Check if values have been correctly inserted & print them out
cur.execute("SELECT * FROM songs3;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print(df.head())

('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179)
            artist_id  artist_latitude  artist_location  artist_longitude  \
0  ARD7TVE1187B99BFB1              NaN  California - LA               NaN

  artist_name   duration  num_songs             song_id             title  \
0      Casual  218.93179          1  SOMZWCG12A8C13C480  I Didn't Mean To

   year
0     0

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [61]:
#For test purposes only, CREATE table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS artists(artist_id varchar,name text, location varchar,latitude float, longitude float)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert dataframe data using function ITERTUPLES() in a for loop
try:
     for row in df.itertuples():
         cur.execute("INSERT INTO artists(artist_id,name,location,latitude,longitude)\
                      VALUES (%s,%s,%s,%s,%s)",\
                      (row.artist_id,
                       row.artist_name,
                       row.artist_location,
                       row.artist_latitude,
                       row.artist_longitude)
                   ) 

except psycopg2.Error as e: 
    print("Error: INsert error")
    print (e)


conn.commit()

#Check if values have been correctly inserted & print them out
cur.execute("SELECT * FROM artists;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan)

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [62]:
#Get all the files from the log folder
log_files = get_files('data/log_data/2018/11')

In [63]:
#Pick up the first file in the log folder
filepath = log_files[0]

In [64]:
#Using PANDA functions, read through the contents of the first file and display that
df_log = pd.read_json(filepath, lines=True)
print(df_log)

                                      artist        auth firstName gender  \
0                              Stephen Lynch   Logged In    Jayden      M
1                                    Manowar   Logged In     Jacob      M
2                                  Morcheeba   Logged In     Jacob      M
3                                   Maroon 5   Logged In     Jacob      M
4                                      Train   Logged In     Jacob      M
5                                      LMFAO   Logged In     Jacob      M
6                                   DJ Dizzy   Logged In     Jacob      M
7                    Fish Go Deep & Tracey K   Logged In     Jacob      M
8                                       None   Logged In    Alivia      F
9                                        M83   Logged In     Jacob      M
10                                    Saybia   Logged In     Jacob      M
11                             Local Natives   Logged In     Jacob      M
12                                South Park   Logged In     Jacob      M
13                    UNKLE Feat. Josh Homme   Logged In     Jacob      M
14                       Justyna Steczkowska   Logged In     Jacob      M
15                               Evanescence   Logged In     Jacob      M
16                                  Coldplay   Logged In     Jacob      M
17                                  Hot Chip   Logged In     Jacob      M
18                            Ellie Goulding   Logged In     Jacob      M
19                            Postal Service   Logged In     Jacob      M
20                                      None   Logged In     Jacob      M
21                                      None  Logged Out      None   None
22                                      None   Logged In     Aiden      M
23                              Jack Johnson   Logged In     Aiden      M
24                             Iron And Wine   Logged In     Aiden      M
25                                    The xx   Logged In     Aiden      M
26                               The Antlers   Logged In     Aiden      M
27                                Fattburger   Logged In     Aiden      M
28                                      None   Logged In     Layla      F
29                                      None   Logged In     Layla      F
..                                       ...         ...       ...    ...
358                                Mr. Vegas   Logged In     Chloe      F
359                           Mischa Daniels   Logged In     Rylan      M
360                           The Menzingers   Logged In     Chloe      F
361                        Justin Timberlake   Logged In     Chloe      F
362                   Vilma Palma e Vampiros   Logged In     Rylan      M
363                 CCCP - Fedeli Alla Linea   Logged In     Chloe      F
364                Kid Cudi / MGMT / Ratatat   Logged In     Rylan      M
365  Drake / Kanye West / Lil Wayne / Eminem   Logged In     Chloe      F
366                        A Day To Remember   Logged In     Rylan      M
367                                     T.I.   Logged In    Jayden      M
368                            The Offspring   Logged In     Rylan      M
369                           Jorge Gonzalez   Logged In     Chloe      F
370                            Sneaker Pimps   Logged In    Jayden      M
371                          Escape The Fate   Logged In     Rylan      M
372                                   Juanes   Logged In     Chloe      F
373                         The Replacements   Logged In     Rylan      M
374                          Sarah McLachlan   Logged In     Chloe      F
375                     Sonny Boy Williamson   Logged In     Rylan      M
376     Soul II Soul Featuring Caron Wheeler   Logged In     Rylan      M
377                   Florence + The Machine   Logged In     Chloe      F
378                                  Pantera   Logged In     Rylan      M
379                                     None   Logged In     Rylan      M
380                                     Cold   Logged In     Chloe      F
381                                  Norther   Logged In     Chloe      F
382                             Foo Fighters   Logged In     Rylan      M
383                               Timbiriche   Logged In     Rylan      M
384                         A Perfect Circle   Logged In     Rylan      M
385                                 Anberlin   Logged In     Rylan      M
386                                     None   Logged In     Rylan      M
387                                Deas Vail   Logged In    Elijah      M

     itemInSession lastName     length level  \
0                0     Bell  182.85669  free
1                0    Klein  247.56200  paid
2                1    Klein  257.41016  paid
3                2    Klein  231.23546  paid
4                3    Klein  216.76363  paid
5                4    Klein  227.99628  paid
6                5    Klein  221.15220  paid
7                6    Klein  377.41669  paid
8                0  Terrell        NaN  free
9                7    Klein   96.18240  paid
10               8    Klein  257.25342  paid
11               9    Klein  266.05669  paid
12              10    Klein  112.97914  paid
13              11    Klein  307.19955  paid
14              12    Klein  333.53098  paid
15              13    Klein  256.91383  paid
16              14    Klein  297.35138  paid
17              15    Klein  333.50485  paid
18              16    Klein  205.06077  paid
19              17    Klein  307.53914  paid
20              18    Klein        NaN  paid
21              19     None        NaN  paid
22               0     Hess        NaN  free
23               1     Hess  240.06485  free
24               2     Hess  153.05098  free
25               3     Hess  158.24934  free
26               4     Hess  328.88118  free
27               5     Hess  217.20771  free
28               0  Griffin        NaN  paid
29               1  Griffin        NaN  paid
..             ...      ...        ...   ...
358             12   Cuevas  240.69179  paid
359             46   George  419.81342  paid
360             13   Cuevas  276.00934  paid
361             14   Cuevas  288.93995  paid
362             47   George  338.18077  paid
363             15   Cuevas  329.66485  paid
364             48   George  295.67955  paid
365             16   Cuevas  357.66812  paid
366             49   George  247.64036  paid
367              0     Bell  299.75465  free
368             50   George  163.31710  paid
369             17   Cuevas  272.14322  paid
370              1     Bell  260.91057  free
371             51   George  266.73587  paid
372             18   Cuevas  243.27791  paid
373             52   George  170.57914  paid
374             19   Cuevas  278.90893  paid
375             53   George  152.24118  paid
376             54   George  225.22730  paid
377             20   Cuevas  219.66322  paid
378             55   George  286.69342  paid
379             56   George        NaN  paid
380             21   Cuevas  177.76281  paid
381             22   Cuevas  246.54322  paid
382             57   George  271.38567  paid
383             58   George  202.60526  paid
384             59   George  206.05342  paid
385             60   George  348.68200  paid
386             61   George        NaN  paid
387              0    Davis  237.68771  free

                                location method       page  registration  \
0        Dallas-Fort Worth-Arlington, TX    PUT   NextSong  1.540992e+12
1    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
2    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
3    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
4    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
5    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
6    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
7    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
8                 Parkersburg-Vienna, WV    GET       Home  1.540505e+12
9    Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
10   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
11   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
12   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
13   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
14   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
15   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
16   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
17   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
18   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
19   Tampa-St. Petersburg-Clearwater, FL    PUT   NextSong  1.540558e+12
20   Tampa-St. Petersburg-Clearwater, FL    PUT     Logout  1.540558e+12
21                                  None    GET       Home           NaN
22             La Crosse-Onalaska, WI-MN    GET       Home  1.540829e+12
23             La Crosse-Onalaska, WI-MN    PUT   NextSong  1.540829e+12
24             La Crosse-Onalaska, WI-MN    PUT   NextSong  1.540829e+12
25             La Crosse-Onalaska, WI-MN    PUT   NextSong  1.540829e+12
26             La Crosse-Onalaska, WI-MN    PUT   NextSong  1.540829e+12
27             La Crosse-Onalaska, WI-MN    PUT   NextSong  1.540829e+12
28          Lake Havasu City-Kingman, AZ    GET       Home  1.541057e+12
29          Lake Havasu City-Kingman, AZ    GET   Settings  1.541057e+12
..                                   ...    ...        ...           ...
358    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
359                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
360    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
361    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
362                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
363    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
364                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
365    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
366                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
367      Dallas-Fort Worth-Arlington, TX    PUT   NextSong  1.540992e+12
368                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
369    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
370      Dallas-Fort Worth-Arlington, TX    PUT   NextSong  1.540992e+12
371                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
372    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
373                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
374    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
375                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
376                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
377    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
378                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
379                Birmingham-Hoover, AL    GET       Help  1.541020e+12
380    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
381    San Francisco-Oakland-Hayward, CA    PUT   NextSong  1.540941e+12
382                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
383                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
384                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
385                Birmingham-Hoover, AL    PUT   NextSong  1.541020e+12
386                Birmingham-Hoover, AL    GET  Downgrade  1.541020e+12
387          Detroit-Warren-Dearborn, MI    PUT   NextSong  1.540772e+12

     sessionId                                               song  status  \
0          829                                  Jim Henson's Dead     200
1         1049                                        Shell Shock     200
2         1049               Women Lose Weight (Feat: Slick Rick)     200
3         1049                          Won't Go Home Without You     200
4         1049                                   Hey_ Soul Sister     200
5         1049                                 I'm In Miami Bitch     200
6         1049                                         Sexy Bitch     200
7         1049         The Cure & The Cause (Dennis Ferrer Remix)     200
8         1070                                               None     200
9         1049                                      Staring At Me     200
10        1049                               The Second You Sleep     200
11        1049                                          Wide Eyes     200
12        1049                La Resistance (Medley) (LP Version)     200
13        1049                                           Restless     200
14        1049                                             Noc...     200
15        1049                                           Like You     200
16        1049                     God Put A Smile Upon Your Face     200
17        1049                                            Playboy     200
18        1049                                  Every Time You Go     200
19        1049                             Natural Anthem (Album)     200
20        1049                                               None     307
21        1049                                               None     200
22         986                                               None     200
23         986                                             Taylor     200
24         986                                    Naked As We Can     200
25         986                                            Fantasy     200
26         986                                           Epilogue     200
27         986                                           Groovin'     200
28        1051                                               None     200
29        1051                                               None     200
..         ...                                                ...     ...
358       1114                                             Tamale     200
359       1076                                      Another Place     200
360       1114                                   Straight To Hell     200
361       1114                                     Cry Me A River     200
362       1076                                Un Camino Hasta Vos     200
363       1114                       Sura (2008 Digital Remaster)     200
364       1076                   Pursuit Of Happiness (nightmare)     200
365       1114                                            Forever     200
366       1076                                Homesick [Acoustic]     200
367       1085  Dead And Gone [feat. Justin Timberlake] (Expli...     200
368       1076               It'll Be a Long Time (Album Version)     200
369       1114                      Esta Es Para Hacerte FÃÂ©liz     200
370       1085                                    Spin Spin Sugar     200
371       1076               This War Is Ours (The Guillotine II)     200
372       1114                               La Vida Es Un Ratico     200
373       1076                                         Never Mind     200
374       1114                                         Possession     200
375       1076                             Don't Start Me Talkin'     200
376       1076  Back To Life (However Do You Want Me) (2003 Di...     200
377       1114                     Dog Days Are Over (Radio Edit)     200
378       1076                               Heresy  (LP Version)     200
379       1076                                               None     200
380       1114                                             Remedy     200
381       1114                                       Frozen Angel     200
382       1076                                      The Pretender     200
383       1076                                    Besos De Ceniza     200
384       1076                                               Rose     200
385       1076                                       The Haunting     200
386       1076                                               None     200
387        985              Anything You Say (Unreleased Version)     200

                ts                                          userAgent userId
0    1543537327796  Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...     91
1    1543540121796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
2    1543540368796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
3    1543540625796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
4    1543540856796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
5    1543541072796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
6    1543541299796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
7    1543541520796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
8    1543541644796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...      4
9    1543541897796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
10   1543541993796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
11   1543542250796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
12   1543542516796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
13   1543542628796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
14   1543542935796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
15   1543543268796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
16   1543543524796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
17   1543543821796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
18   1543544154796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
19   1543544359796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
20   1543544360796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
21   1543544407796                                               None
22   1543547152796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
23   1543547190796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
24   1543547430796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
25   1543547583796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
26   1543547741796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
27   1543548069796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     86
28   1543548391796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
29   1543548494796  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
..             ...                                                ...    ...
358  1543600483796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
359  1543600644796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
360  1543600723796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
361  1543600999796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
362  1543601063796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
363  1543601287796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
364  1543601401796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
365  1543601616796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
366  1543601696796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
367  1543601780796  Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...     91
368  1543601943796  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     16
369  1543601973796  Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...     49
370  1543602079796  Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...     91

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [65]:
#Filter records by NextSong action & store it in a variable df_filter
df_filter = df_log[(df_log['page'] == 'NextSong')]

In [66]:
#Convert data in ts column to date and time. Create another column timestamp and add that to the dataframe.    
df_filter['timestamp'] = (pd.to_datetime(df_filter['ts'], unit='ms'))
print(df_filter['timestamp'])

0     2018-11-30 00:22:07.796
1     2018-11-30 01:08:41.796
2     2018-11-30 01:12:48.796
3     2018-11-30 01:17:05.796
4     2018-11-30 01:20:56.796
5     2018-11-30 01:24:32.796
6     2018-11-30 01:28:19.796
7     2018-11-30 01:32:00.796
9     2018-11-30 01:38:17.796
10    2018-11-30 01:39:53.796
11    2018-11-30 01:44:10.796
12    2018-11-30 01:48:36.796
13    2018-11-30 01:50:28.796
14    2018-11-30 01:55:35.796
15    2018-11-30 02:01:08.796
16    2018-11-30 02:05:24.796
17    2018-11-30 02:10:21.796
18    2018-11-30 02:15:54.796
19    2018-11-30 02:19:19.796
23    2018-11-30 03:06:30.796
24    2018-11-30 03:10:30.796
25    2018-11-30 03:13:03.796
26    2018-11-30 03:15:41.796
27    2018-11-30 03:21:09.796
30    2018-11-30 03:29:23.796
31    2018-11-30 03:32:46.796
33    2018-11-30 03:37:24.796
35    2018-11-30 03:39:31.796
36    2018-11-30 03:44:28.796
38    2018-11-30 03:49:50.796
                ...
356   2018-11-30 17:49:45.796
357   2018-11-30 17:53:44.796
358   2018-11-30 17:54:43.796
359   2018-11-30 17:57:24.796
360   2018-11-30 17:58:43.796
361   2018-11-30 18:03:19.796
362   2018-11-30 18:04:23.796
363   2018-11-30 18:08:07.796
364   2018-11-30 18:10:01.796
365   2018-11-30 18:13:36.796
366   2018-11-30 18:14:56.796
367   2018-11-30 18:16:20.796
368   2018-11-30 18:19:03.796
369   2018-11-30 18:19:33.796
370   2018-11-30 18:21:19.796
371   2018-11-30 18:21:46.796
372   2018-11-30 18:24:05.796
373   2018-11-30 18:26:12.796
374   2018-11-30 18:28:08.796
375   2018-11-30 18:29:02.796
376   2018-11-30 18:31:34.796
377   2018-11-30 18:32:46.796
378   2018-11-30 18:35:19.796
380   2018-11-30 18:36:25.796
381   2018-11-30 18:39:22.796
382   2018-11-30 18:40:05.796
383   2018-11-30 18:44:36.796
384   2018-11-30 18:47:58.796
385   2018-11-30 18:51:24.796
387   2018-11-30 19:54:24.796
Name: timestamp, Length: 330, dtype: datetime64[ns]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
#timedata = []

#Convert timestamp column into multiple data frame columns
#df_filter['YY']=df_filter.timestamp.dt.year()
#print(df_filter['YY'])

#Add Timestamp to a list
#timedata = ((df_filter.ts.head()).tolist())

#Add Year to Timedata list
#timedata.append((df_filter.timestamp.dt.year.head()).tolist())

#Add Month to Timedata list
#timedata.append((df_filter.timestamp.dt.month.head()).tolist())


#Add Day to Timedata list
#timedata.append((df_filter.timestamp.dt.day.head()).tolist())


#Add Hour to Timedata list
#timedata.append((df_filter.timestamp.dt.hour.head()).tolist())


#Add Week Of Year to Timedata list
#timedata.append((df_filter.timestamp.dt.week.head()).tolist())

#Add Week Day to Timedata list
#timedata.append((df_filter.timestamp.dt.weekday_name.head()).tolist())
#print(timedata)

#column_labels = []
#column_lables = ['Timestamp','Year']
#print(column_labels)

#Extract individual row content from Data Frame and then append it a list

time_data = [ df_filter["timestamp"], df_filter["timestamp"].dt.hour, df_filter["timestamp"].dt.day, df_filter["timestamp"].dt.weekofyear, df_filter["timestamp"].dt.month, df_filter["timestamp"].dt.year, df_filter["timestamp"].dt.weekday,df_filter["timestamp"].dt.time]
#print(time_data)
column_labels = ['ts','hr','Day','WoY','mm','yy','weekday','start_time']
time_data_dict=dict(zip(column_labels,time_data))
#print(time_data_dict)

time_df=pd.DataFrame.from_dict(time_data_dict)
print(time_df.head())
#print(type(time_df['start_time']))
#except psycopg2.Error as e: 
#    print("Error: INsert error")
#    print (e)

                       ts  hr  Day  WoY  mm    yy  weekday       start_time
0 2018-11-30 00:22:07.796   0   30   48  11  2018        4  00:22:07.796000
1 2018-11-30 01:08:41.796   1   30   48  11  2018        4  01:08:41.796000
2 2018-11-30 01:12:48.796   1   30   48  11  2018        4  01:12:48.796000
3 2018-11-30 01:17:05.796   1   30   48  11  2018        4  01:17:05.796000
4 2018-11-30 01:20:56.796   1   30   48  11  2018        4  01:20:56.796000

In [ ]:
#time_df = pd.DataFrame(timedata,columns=column_labels)
#print(time_df)
#time_df.head()

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [43]:
#For test purposes only, CREATE table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS time(start_time time, hour int, day int,week int, month int, year int, weekday int)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
#Insert dataframe data using function ITERTUPLES() in a for loop
try:
     for row in time_df.itertuples():
         cur.execute("INSERT INTO time(start_time,hour,day,week,month,year,weekday)\
                      VALUES (%s,%s,%s,%s,%s,%s,%s)",\
                      (row.start_time,
                       row.hr,
                       row.Day,
                       row.WoY,
                       row.mm,
                       row.yy,
                       row.weekday)
                   ) 

except psycopg2.Error as e: 
    print("Error: INsert error")
    print (e)


conn.commit()

#Check if values have been correctly inserted & print them out
#cur.execute("SELECT * FROM time;")
#row = cur.fetchone()
#while row:
#   print(row)
#   row = cur.fetchone()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [45]:
#df_log contains user_id, f_name,l_name,gender,level. We need to transfer those values to the user data frame
user_df1 = df_log[['userId','firstName','lastName','gender','level']].copy()
user_df=user_df1.dropna()
user_df=user_df.drop_duplicates()
print(user_df)

    userId  firstName   lastName gender level
0       91     Jayden       Bell      M  free
1       73      Jacob      Klein      M  paid
8        4     Alivia    Terrell      F  free
22      86      Aiden       Hess      M  free
28      24      Layla    Griffin      F  paid
40      26       Ryan      Smith      M  free
59      49      Chloe     Cuevas      F  paid
62      57  Katherine        Gay      F  free
67      30      Avery    Watkins      F  paid
78      92      Ryann      Smith      F  free
95      69   Anabelle    Simpson      F  free
125     74     Braden     Parker      M  free
134     88   Mohammad  Rodriguez      M  paid
145     36    Matthew      Jones      M  paid
168      8     Kaylee    Summers      F  free
177     12     Austin    Rosales      M  free
184     61     Samuel   Gonzalez      M  free
194     43     Jahiem      Miles      M  free
196     68     Jordan  Rodriguez      F  free
204     85    Kinsley      Young      F  paid
213     50        Ava   Robinson      F  free
214      6    Cecilia      Owens      F  free
239    101     Jayden        Fox      M  free
243     16      Rylan     George      M  paid
306     78      Chloe       Roth      F  free
316     33    Bronson     Harris      M  free
387      5     Elijah      Davis      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [46]:
#For test purposes only, CREATE table
try:
    cur.execute("CREATE TABLE IF NOT EXISTS users2(user_id int, fname text, lname text,gender text,level varchar)")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
'''for row in user_df.itertuples():
    cur.execute("INSERT INTO users(user_id,fname,lname,gender,level)\
                 VALUES (%s,%s,%s,%s,%s)",\
                 (row.userId,
                  row.firstName,
                  row.lastName,
                  row.gender,
                  row.level)
               )
          
conn.commit()
'''    
try:
     for row in user_df.itertuples():
         cur.execute("INSERT INTO users2(user_id,fname,lname,gender,level)\
                      VALUES (%s,%s,%s,%s,%s)",\
                      (row.userId,
                      row.firstName,
                      row.lastName,
                      row.gender,
                      row.level)
                    ) 

except psycopg2.Error as e: 
    print("Error: INsert error")
    print (e)


conn.commit()
#Check if values have been correctly inserted & print them out

cur.execute("SELECT * FROM users2;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(91, 'Jayden', 'Bell', 'M', 'free')
(73, 'Jacob', 'Klein', 'M', 'paid')
(4, 'Alivia', 'Terrell', 'F', 'free')
(86, 'Aiden', 'Hess', 'M', 'free')
(24, 'Layla', 'Griffin', 'F', 'paid')
(26, 'Ryan', 'Smith', 'M', 'free')
(49, 'Chloe', 'Cuevas', 'F', 'paid')
(57, 'Katherine', 'Gay', 'F', 'free')
(30, 'Avery', 'Watkins', 'F', 'paid')
(92, 'Ryann', 'Smith', 'F', 'free')
(69, 'Anabelle', 'Simpson', 'F', 'free')
(74, 'Braden', 'Parker', 'M', 'free')
(88, 'Mohammad', 'Rodriguez', 'M', 'paid')
(36, 'Matthew', 'Jones', 'M', 'paid')
(8, 'Kaylee', 'Summers', 'F', 'free')
(12, 'Austin', 'Rosales', 'M', 'free')
(61, 'Samuel', 'Gonzalez', 'M', 'free')
(43, 'Jahiem', 'Miles', 'M', 'free')
(68, 'Jordan', 'Rodriguez', 'F', 'free')
(85, 'Kinsley', 'Young', 'F', 'paid')
(50, 'Ava', 'Robinson', 'F', 'free')
(6, 'Cecilia', 'Owens', 'F', 'free')
(101, 'Jayden', 'Fox', 'M', 'free')
(16, 'Rylan', 'George', 'M', 'paid')
(78, 'Chloe', 'Roth', 'F', 'free')
(33, 'Bronson', 'Harris', 'M', 'free')
(5, 'Elijah', 'Davis', 'M', 'free')

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [50]:
for index, row in df.iterrows():
#get songid and artistid from song and artist tables
    cur.execute(song_select,(row.title, row.artist_name, row.duration))
#    results = cur.fetchone()
    print(cur.fetchone())   
#    if results:
#        songid, artistid = results
#    else:
#        songid, artistid = None, None

# insert songplay record
#    songplay_data = ()
#    cur.execute(songplay_table_insert, songplay_data)
#conn.commit()

InternalError: current transaction is aborted, commands ignored until end of transaction block

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.